<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>起こして欲しい人一覧</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <% for (let item of items) { %>
    <a href="lineout-screen?call_id=<%- item.call_id %>">
        <div class="box1">
            <div><%- item.username %></div>
            <div><%- item.comment %></div>
            <div><%- item.wakeup_date %></div>
        </div>
    </a>
    <% } %>
</body>

</html>