html {
    font-size: 14px;
}

body {
    background-color: #E1E8EE;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.form-structor {
    height: 100%;
    display: flex;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    opacity: .8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: round;
    background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100");
}

.form-structor .signup {
    width: 80%;
    z-index: 1;
    margin: auto;
}

.form-structor .signup .form-title {
    color: #fff;
    font-size: 1.7em;
    text-align: center;
  }

.form-structor .signup .form-holder {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 1em;
}
.form-structor .signup .form-holder .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}
.form-structor .signup .form-holder .input:last-child {
    border-bottom: 0;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.form-structor .signup .submit-btn {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    opacity: 1;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

div {
    max-width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img { 
    max-width: 25%; 
    height: auto; 
}

button {
    margin: 4px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    padding-top: 20px;
}

.hidden {
    display: none;
}
